<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("be900b0e-96ce-43bc-a72e-f4fe280a5fc3");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
